.App {
  text-align: center;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
}

a {
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(72.33deg, #00171F 0%, #051014 80.74%, #00171F 100.89%, #090809 113.28%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.genPWB {
  background-color: #FFFBDB;
  border-radius: 12px;
  font-weight: bold;
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
}

.genPWB:hover {
  
  transform: scale(1.07);
  transition-duration: 0.5s;
}

.copyB {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color:aliceblue;
}

.copyB:hover {
  transform: scale(1.08);
  transition-duration: 0.3s;
}

.pwT {
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
}